__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
venv
env
.env
backend.log
frontend.log
nohup.out
frontend/node_modules
frontend/.next
temp/*
!temp/.gitkeep
# Don't ignore the official pdfs or json data since we need them in prod
#!official_pdfs
#!faculty_data.json
#!academic_plan.json
